sudo: false

language: go

go:
  - 1.7

python:
  - 2.7
  - 3.5

script:
  - ./bootstrap.sh --plain_output

before_install:
  - ./.travis_install.sh

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - deadsnakes
    packages:
      - libunittest++-dev
      - binutils
      - clang
      - gcc-4.8
      - g++-4.8
      - unzip
      - python3.5

install:
  - pip install --user cffi==1.7.0

git:
  depth: 3

cache:
  directories:
    - $HOME/protoc
    - $HOME/plz-cache
