version: 2.1
jobs:
   build-alpine:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_alpine:20200905-2
     resource_class: large
     environment:
       PLZ_ARGS: "-p --profile ci --profile alpine --exclude no-musl"
     steps:
       - checkout
       - restore_cache:
           key: go-mod-alpine-v5-{{ checksum "go.mod" }}
       - restore_cache:
           key: go-alpine-main-v5-{{ checksum "third_party/go/BUILD" }}
       - restore_cache:
           key: python-alpine-main-v2-{{ checksum "third_party/python/BUILD" }}
       - restore_cache:
           key: java-toolchain-alpine-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
       - run:
           name: Bootstrap & Build
           command: ./bootstrap.sh --test_results_file plz-out/results/please/test_results.xml
       - store_test_results:
           path: plz-out/results
       - run:
           name: Package
           command: ./plz-out/bin/src/please build //package:all -p --profile ci --profile alpine
       - persist_to_workspace:
           root: plz-out/pkg
           paths:
             - linux_amd64/*
       - store_artifacts:
           path: plz-out/log
       - save_cache:
           key: go-mod-alpine-v5-{{ checksum "go.mod" }}
           paths:
             - "~/go/pkg/mod"
       - save_cache:
           key: go-alpine-main-v5-{{ checksum "third_party/go/BUILD" }}
           paths: [ ".plz-cache/third_party/go" ]
       - save_cache:
           key: python-alpine-main-v2-{{ checksum "third_party/python/BUILD" }}
           paths: [ ".plz-cache/third_party/python" ]
       - save_cache:
           key: java-toolchain-alpine-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
           paths: [ ".plz-cache/test/java_rules/java_toolchain" ]

   build-linux:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_ubuntu:20200812
     resource_class: large
     environment:
       PLZ_ARGS: "-p --profile ci"
     steps:
       - checkout
       - restore_cache:
           key: go-mod-linux-v5-{{ checksum "go.mod" }}
       - restore_cache:
           key: go-linux-main-v5-{{ checksum "third_party/go/BUILD" }}
       - restore_cache:
           key: python-linux-main-v2-{{ checksum "third_party/python/BUILD" }}
       - restore_cache:
           key: java-toolchain-linux-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
       - run:
           name: Bootstrap & Build
           command: ./bootstrap.sh --test_results_file plz-out/results/please/test_results.xml
       - store_test_results:
           path: plz-out/results
       - run:
           name: Package
           command: ./plz-out/bin/src/please build //package:signer //tools/misc:gen_release //docs:tarball //docs:deep-tarball -p
       - persist_to_workspace:
           root: plz-out/pkg
           paths:
             - gen_release.pex
             - release_signer
             - docs.tar.gz
             - deep-docs.tar.gz
       - store_artifacts:
           path: plz-out/log
       - save_cache:
           key: go-mod-linux-v5-{{ checksum "go.mod" }}
           paths:
             - "~/go/pkg/mod"
       - save_cache:
           key: go-linux-main-v5-{{ checksum "third_party/go/BUILD" }}
           paths: [ ".plz-cache/third_party/go" ]
       - save_cache:
           key: python-linux-main-v2-{{ checksum "third_party/python/BUILD" }}
           paths: [ ".plz-cache/third_party/python" ]
       - save_cache:
           key: java-toolchain-linux-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
           paths: [ ".plz-cache/test/java_rules/java_toolchain" ]

   build-linux-alt:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_ubuntu_alt:20200812
     resource_class: large
     environment:
       PLZ_ARGS: "-p --profile ci-alt"
       PLZ_COVER: "cover --nocoverage_report"
     steps:
       - checkout
       - restore_cache:
           key: go-mod-linux-alt-v4-{{ checksum "go.mod" }}
       - restore_cache:
           key: go-linux-alt-v4-{{ checksum "third_party/go/BUILD" }}
       - restore_cache:
           key: python-linux-alt-v2-{{ checksum "third_party/python/BUILD" }}
       - restore_cache:
           key: java-toolchain-linux-alt-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
       - run:
           name: Bootstrap & Build
           command: ./bootstrap.sh --test_results_file plz-out/results/please/test_results.xml
       - store_test_results:
           path: plz-out/results
       - store_artifacts:
           path: plz-out/log
       - save_cache:
           key: go-mod-linux-alt-v4-{{ checksum "go.mod" }}
           paths:
             - "~/go/pkg/mod"
       - save_cache:
           key: go-linux-alt-v4-{{ checksum "third_party/go/BUILD" }}
           paths: [ ".plz-cache/third_party/go" ]
       - save_cache:
           key: java-toolchain-linux-alt-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
           paths: [ ".plz-cache/test/java_rules/java_toolchain" ]
       - save_cache:
           key: python-linux-alt-v2-{{ checksum "third_party/python/BUILD" }}
           paths: [ ".plz-cache/third_party/python" ]

   build-freebsd:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_freebsd_builder:20200820
     resource_class: large
     steps:
       - checkout
       - attach_workspace:
           at: /tmp/workspace
       - restore_cache:
           key: go-freebsd-v1-{{ checksum "third_party/go/BUILD" }}
       - run:
           name: Extract plz
           command: tar -xzf /tmp/workspace/linux_amd64/please_*.tar.gz
       - run:
           name: Cross-compile
           command: ./please/please build -p --profile ci --arch freebsd_amd64 //package:release_files
       - persist_to_workspace:
           root: plz-out/pkg
           paths:
             - freebsd_amd64/*
       - store_artifacts:
           path: plz-out/log
       - save_cache:
           key: go-freebsd-v1-{{ checksum "third_party/go/BUILD" }}
           paths: [ ".plz-cache/third_party/go" ]

   build-darwin:
      macos:
        xcode: "12.0.0"
      environment:
        PLZ_ARGS: "-p --profile ci --exclude pip --exclude embed"
      steps:
       - checkout
       - restore_cache:
           key: go-mod-darwin-v4-{{ checksum "bootstrap.sh" }}
       - restore_cache:
           key: go-darwin-go115-v1-{{ checksum "third_party/go/BUILD" }}
       - restore_cache:
           key: python-darwin-py372-{{ checksum "third_party/python/BUILD" }}
       - restore_cache:
           key: java-toolchain-darwin-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
       - run:
           name: Install deps
           command: ./.circleci/setup_osx.sh
       - run:
           name: Bootstrap & Build
           command: ./bootstrap.sh --test_results_file plz-out/results/please/test_results.xml
       - store_test_results:
           path: plz-out/results
       - store_artifacts:
           path: plz-out/log
       - run:
           name: Package
           command: ./plz-out/bin/src/please build //package:release_files -p
       - persist_to_workspace:
           root: plz-out/pkg
           paths:
             - darwin_amd64/*
       - store_artifacts:
           path: /tmp/artifacts
       - save_cache:
           key: go-mod-darwin-v4-{{ checksum "go.mod" }}
           paths:
             - "~/go/pkg/mod"
       - save_cache:
           key: go-darwin-go115-v1-{{ checksum "third_party/go/BUILD" }}
           paths: [ ".plz-cache/third_party/go" ]
       - save_cache:
           key: python-darwin-py372-{{ checksum "third_party/python/BUILD" }}
           paths: [ ".plz-cache/third_party/python" ]
       - save_cache:
           key: java-toolchain-darwin-v1-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/BUILD" }}-{{ checksum "test/java_rules/java_toolchain/src/main/java/net/thoughtmachine/bazel_compat/BUILD" }}
           paths: [ ".plz-cache/test/java_rules/java_toolchain" ]

   test-rex:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_ubuntu:20200812
     resource_class: large
     steps:
       - checkout
       - attach_workspace:
           at: /tmp/workspace
       - restore_cache:
           key: elan-v3-{{ checksum "third_party/go/BUILD" }}
       - run:
           name: Test Remote Execution
           command: ./.circleci/rex_test.sh
       - store_test_results:
           path: plz-out/results
       - store_artifacts:
           path: plz-out/log
       - save_cache:
           key: elan-v3-{{ checksum "third_party/go/BUILD" }}
           paths: [ "plz-out/elan" ]

   test-http-cache:
     working_directory: ~/please
     docker:
       - image: thoughtmachine/please_ubuntu:20200812
     resource_class: large
     steps:
       - checkout
       - attach_workspace:
           at: /tmp/workspace
       - run:
           name: Test HTTP Cache
           command: ./.circleci/http_cache_test.sh
       - store_test_results:
           path: plz-out/results
       - store_artifacts:
           path: plz-out/log
   # Releases to github and homebrew
   release:
     docker:
       - image: thoughtmachine/please_docs:20200930
     steps:
       - attach_workspace:
           at: /tmp/workspace
       - add_ssh_keys:
           fingerprints:
             - "cc:57:b9:67:31:65:a6:70:8c:e3:e7:90:ca:e6:a6:41"
       - run: /tmp/workspace/gen_release.pex --signer /tmp/workspace/release_signer /tmp/workspace/*_amd64/*

   # Releases the docs and the binaries to s3 for please.build and get.please.build
   release-s3:
     docker:
       - image: thoughtmachine/please_docs:20200930
     steps:
       - checkout
       - attach_workspace:
           at: /tmp/workspace
       - run: ./.circleci/release_s3.sh

workflows:
  version: 2
  build-all:
    jobs:
      - build-alpine
      - build-linux
      - build-linux-alt
      - build-darwin:
          requires:
            - build-alpine
            - build-linux
            - build-linux-alt
      - build-freebsd:
          requires:
            - build-alpine
      - test-rex:
          requires:
            - build-alpine
      - test-http-cache:
          requires:
            - build-alpine
      - release:
          requires:
            - build-alpine
            - build-freebsd
            - build-linux
            - build-linux-alt
            - build-darwin
            - test-rex
            - test-http-cache
          filters:
            branches:
              only: master
      - release-s3:
          requires:
            - build-alpine
            - build-freebsd
            - build-linux
            - build-linux-alt
            - build-darwin
            - test-rex
            - test-http-cache
          filters:
            branches:
              only: master
