remote_file(
    name = "arcat",
    url = f"https://github.com/please-build/arcat/releases/download/v1.0.2/arcat-1.0.2-{CONFIG.HOSTOS}_{CONFIG.HOSTARCH}",
    out = "arcat",
    binary = True,
    hashes = [
        "c28fcbcb9d9e4d97fe9f7d7cc4c9b277985464f6d3230192a059a8e317c76a86", # darwin_amd64
        "fc6a2c621bc9158a1b63bf76b5662e354d1427ead0cb880b87e7cc61e7e40879", # darwin_arm64
        "83bc947a01543106d24709f9bf039b3f57e9e5f0944bc4b3d86d8cbb732ab343", # freebsd_amd64
        "3040191290ba7803ea5dbfa4ad2ab13ba0d0aac4b2c205bd4453f8b08d5d2485", # linux_amd64
        "d96b71aee29b5784a41bf13a11e8d57037f665a48f8f76b3c5f511ee8d1be75a", # linux_arm64
    ],
    visibility = ["PUBLIC"],
)

remote_file(
    name = "download",
    url = f"{{ .ToolsURL }}",
    extract = True,
)

{{ range $tool := .Tools }}
genrule(
    name = "{{$tool}}".removesuffix(".jar"),
    cmd = f"mv $SRC/{{$tool}} $OUT",
    srcs = [":download"],
    outs = ["{{$tool}}"],
    visibility = ["PUBLIC"],
    binary = True,
)
{{ end }}
