remote_file(
    name = "arcat",
    url = f"https://github.com/please-build/arcat/releases/download/v1.1.1/arcat-1.1.1-{CONFIG.HOSTOS}_{CONFIG.HOSTARCH}",
    out = "arcat",
    binary = True,
    hashes = [
        "2347f2c87aa1dacf5962077a8e7d12bafa224b317282655caf72231262f7d0ba", # darwin_amd64
        "987c9c9d6cce1aea3e75eab5267ebcdbdb3aeb61f59e1c7d9ecd9708d0bed79c", # darwin_arm64
        "ad349c64bcbb77d175d8b1592b7e5a602a365b15c4f3503751d46a63ff51227c", # freebsd_amd64
        "74467cb08a83bb223f8efbb934bcfd95a3f1e894b41f163ccfa5b495640bffbb", # linux_amd64
        "19e3aa3f4594a8bbe7ff0f91f66bda283eaa62213908837a0d5214ccbb80e4d7", # linux_arm64
    ],
    visibility = ["PUBLIC"],
)

remote_file(
    name = "download",
    url = f"{{ .ToolsURL }}",
    extract = True,
)

{{ range $tool := .Tools }}
genrule(
    name = "{{$tool}}".removesuffix(".jar"),
    cmd = f"mv $SRC/{{$tool}} $OUT",
    srcs = [":download"],
    outs = ["{{$tool}}"],
    visibility = ["PUBLIC"],
    binary = True,
)
{{ end }}
